/SysManager.Common.Utilities/obj
/SysManager.Common.Utilities/bin
/packages
/SysManager.Common.Models/obj
/SysManager.Common.Models/bin
/SysManager.DB.Utilities/obj
/SysManager.DB.Utilities/bin
/SysManager.Common.UnitTest/obj
/SysManager.Common.UnitTest/bin
